@{
    ViewData["Title"] = "File Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Ivy Lee. A01048709.</p>
    <p>I would like to be a Front End Web Developer in the future.</p>
    <div>
    </div>
</div>
