@{
    ViewData["Title"] = "Display Page";
    string directoryPath = "./TextFiles/";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here we post the file Display</p>
    @foreach (string file in Directory.EnumerateFiles(directoryPath, "*.txt"))
    {
        string display = File.ReadAllText(file);
        <p>@display</p>

    }

</div>