@{
    ViewData["Title"] = "Display Page";
    var path = ViewData["filePath"] as string;
    var content = System.IO.File.ReadAllText(path);


}

<div class="text-center">
    <h1 class="display-4">Display</h1>
    <p>Here we post the file Display</p>
    <p></p>
    <p>@content</p>


</div>