@{
    ViewData["Title"] = "Files Page";
    string[] files = ViewBag.fileName;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Ivy Lee. A01048709.</p>
    <p>I would like to be a Front End Developer in the future.</p>
    <ul>
        @foreach (string file in files)
        {
            <li>
                <a asp-area="" asp-controller="Files" asp-action="Display"
                asp-route-id=@file>
                    @file
                </a>
            </li>
        }
    </ul>

</div>
