@{
    ViewData["Title"] = "Files Page";
    string[] files = ViewBag.fileName;
}

<div class="text-center">
    <h1 class="display-4">Files</h1>
    <ul>
        @foreach (string file in files)
        {
            <li>
                <a asp-area="" asp-controller="Files" asp-action="Display"
                asp-route-id=@file>
                    @file
                </a>
            </li>
        }
    </ul>

</div>
